<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" "nav-link" href="/TS">Tradeshift</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li> <!-- add <li class="nav-item active" to light the font all time-->
        <a class="nav-link" href="/">Home </a>
      </li>
      <li><a class="nav-link"href="/about">About</a></li>
      <li><a class="nav-link"href="/articles"></a></li>
      <li class="nav-item">
        <a class="nav-link" href="/somethingelse">Documents</a>
      </li>
    </ul>
    <ul class"nav navbar-nav navbar-right">
      <li><a href="/register">Register</a></li>
    </ul>


      <!--  <a class="nav-link disabled" href="#">Disabled</a> -->


      <!-- dropdown
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="/">Home</a>
          <a class="dropdown-item" href="/about">About</a>
          <a class="dropdown-item" href="/articles">articles</a>
        </div>
      </li> -->
  </div>
</nav>
